@model ML.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <div class="row">
        <div class="=col-md-12">
            <h1 style="text-align:center; color:#3dc7e6; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Productos descontinuados</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="tblClientes" class="table table-hover table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <td>ProductID</td>
                        <td>ProductName</td>
                        <td>SupplierID</td>
                        <td>CategoryID</td>
                        <td>QuantityPerUnit</td>
                        <td>UnitPrice</td>
                        <td>UnitsInStock</td>
                        <td>UnitsOnOrder</td>
                        <td>ReorderLevel</td>
                        <td>Discontinued</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Product product in Model.Products)
                    {
                        <tr>
                           <td>@product.ProductID</td>
                            <td>@product.ProductName</td>
                            <td>@product.Supplier.SupplierID</td>
                            <td>@product.Categories.CategoryID</td>
                            <td>@product.QuantityPerUnit</td>
                            <td>@product.UnitPrice</td>
                            <td>@product.UnitsInStock</td>
                            <td>@product.UnitsOnOrder</td>
                            <td>@product.ReOrderLevel</td>
                            <td>@product.Discontinued</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

